<div class="header">
  <div id="currentTime"></div>
  <app-current-date></app-current-date>
</div>

<div class="content" *ngIf="weather">
  <div class="row">
    <br>
    <div class="left-side">
      <div class="search-container" [formGroup]="searchForm">
        <input type="text" class="search-input" placeholder="Enter City" formControlName="city">
        <button class="search-button" (click)="searchWeather()">Search</button>&nbsp;&nbsp;
        <button class="search-button show-location-button" (click)="showLocation()">Show Current Location</button>
      </div>
      <br><br>
      <h1 class="city-name">{{ currentCity }}</h1>
      <div class="image-container">
        <div class="temperature">
          <p class="temp-text">Temperature: {{ selectedTemperatureUnit === 'celsius' ? weather.current.temp_c + '°C' : weather.current.temp_f + '°F' }}</p>
        </div>
        <div class="temperature-options">
          <label for="temperatureUnit">Temperature Unit:</label>
          <select id="temperatureUnit" [(ngModel)]="selectedTemperatureUnit">
            <option value="celsius">Celsius (°C)</option>
            <option value="fahrenheit">Fahrenheit (°F)</option>
          </select>
        </div>
      </div>

      <div class="data-options">
        <label for="dataToShow">Additional data to show:</label>
        <select id="dataToShow" [(ngModel)]="selectedDataToShow">
          <option value="heatIndex">Heat Index</option>
          <option value="windSpeed">Wind Speed</option>
          <option value="humidity">Humidity</option>
        </select>
      </div>

      <div class="section-2">
        <div class="picture-container">
          <img *ngIf="weather.current.condition.text === 'Partly cloudy' || weather.current.condition.text === 'Partly Cloudy'" src="../assets/images/img-cloudy.png" alt="Weather Image" class="section-image2">
          <img *ngIf="weather.current.condition.text === 'Light rain shower'" src="../assets/images/img-cloudy.png" alt="Weather Image" class="section-image2">
          <img *ngIf="weather.current.condition.text === 'Moderate rain'" src="../assets/images/img-cloudy.png" alt="Weather Image" class="section-image2">
          <img *ngIf="weather.current.condition.text === 'Patchy rain nearby'" src="../assets/images/img-cloudy.png" alt="Weather Image" class="section-image2">
          <img *ngIf="weather.current.condition.text === 'Clear'" src="../assets/images/img-sunny.png" alt="Weather Image" class="section-image2">
          <img *ngIf="weather.current.condition.text === 'Sunny'" src="../assets/images/img-sunny.png" alt="Weather Image" class="section-image2">
          <img *ngIf="weather.current.condition.text === 'Overcast'" src="../assets/images/img-stormy.png" alt="Weather Image" class="section-image2">
          <img *ngIf="weather.current.condition.text === 'Fog'" src="../assets/images/img-foggy.png" alt="Weather Image" class="section-image2">
          <img *ngIf="weather.current.condition.text === 'Patchy light rain with thunder'" src="../assets/images/img-stormy.png" alt="Weather Image" class="section-image2">
          <img *ngIf="weather.current.condition.text === 'Light rain'" src="../assets/images/img-cloudy.png" alt="Weather Image" class="section-image2">
          <img *ngIf="weather.current.condition.text === 'Moderate or heavy rain with thunder'" src="../assets/images/img-stormy.png" alt="Weather Image" class="section-image2">
          <img *ngIf="weather.current.condition.text === 'Moderate or heavy rain shower'" src="../assets/images/img-stormy.png" alt="Weather Image" class="section-image2">
          <div class="top-info">
            <p>Weather Condition: {{ weather.current.condition.text }}</p>
          </div>
          <div class="bottom-info">
            <div class="info-box" *ngIf="selectedDataToShow === 'heatIndex'">
              <p>Heat Index: {{ weather.current.heatindex_c }}°C</p>
            </div>
            <div class="info-box" *ngIf="selectedDataToShow === 'windSpeed'">
              <p>Wind Speed: {{ weather.current.wind_kph }} kph</p>
            </div>
            <div class="info-box" *ngIf="selectedDataToShow === 'humidity'">
              <p>Humidity: {{ weather.current.humidity }}%</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-side" *ngIf="weather">
      <div class="container-row">
        <div class="smaller-container1" *ngFor="let day of forecast">
          <h3>Date: {{ day.date }}</h3>
          <p>Max Temperature: {{ selectedTemperatureUnit === 'celsius' ? day.day.maxtemp_c + '°C' : day.day.maxtemp_f + '°F' }}</p>
          <p>Min Temperature: {{ selectedTemperatureUnit === 'celsius' ? day.day.mintemp_c + '°C' : day.day.mintemp_f + '°F' }}</p>
          <p>Condition: {{ day.day.condition.text }}</p>
          <p>Wind Speed: {{ day.day.maxwind_kph }} kph</p>
        </div>
      </div>
    </div>    
  </div>
</div>
